.v-Button {
  border-radius: 2px !important;
  box-shadow: none !important;
  background-image: none !important;
  border: none !important;
}


.v-Button--constructive {
  background-color: #41a2e8 !important;
}
