div > .vimiumHintMarker {
  /* linkhint boxes */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #666),
    color-stop(100%, #666)
  );
  border: 1px solid #666;
}

div > .vimiumHintMarker span {
  /* linkhint text */
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 1px;
  padding-bottom: 2px;
}

div > .vimiumHintMarker > .matchingCharacter {
}
